:root {
  --background-colour: #38897a;
  --primary-colour: #d93e44;
  --textarea-colour: #fedda7;
  --red-one: #fa0001;
  --white-one: #fbfae6;
}

body {
  align-items: center;
  background: var(--background-colour);
  color: var(--textarea-colour);
  display: flex;
  flex-direction: column;
}

#fill-page textarea#participants {
  min-height: 9em;
  min-width: 9rem;
}

#draw-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#draw-page ul#result-list {
  display: flex;
  flex-direction: column-reverse;
}

#draw-page ul#result-list li:nth-child(2) {
  font-size: 2.5rem;
}
